h2, h3, button, label{
  font-family: 'Montserrat';
}

p {
  line-height: 2;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  font
}

.main_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  max-width: 700px;
}

.popup {
  position: relative;
  padding: 0;
  background-color: #f2f2f2;
  box-shadow: 0 4px 33px rgba(0,0,0,.22), 0 0 0 1px rgba(0,0,0,.04);
}

.wrapper > div > div {
  overflow: auto;
  margin-bottom: 30px;
}

.wrapper > div {
  overflow: auto;
}

.top_content {
  padding: 0 25px;
  border-bottom: 1px solid #ddd;
}

.top_content > h2 {
  margin: 0;
  line-height: 3.5;
  display: inline;
  float: left;
}

.top_content > p {
  display: inline;
  float: right;
  color: #797979;
  margin: 0;
  line-height: 52px;
}

.main_content {
  max-height: 70vh;
  margin: 0;
  overflow-y: scroll;
  padding: 0px 10px;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px auto 0;
  line-height: 2;
}

h3 {
  font-size: 13px;
  font-weight: 500;
}

input.seg_name, input.file_path, select {
  border: none;
  background: white;
  padding: 12px;
  width: 100%;
  outline: none !important;
}


select:hover {
  background: rgba(204, 204, 204, 0.92);
}

select, label, .active_rad:hover, .radBtn:hover, select > option {
  cursor: pointer
}

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearence: none;
  -webkit-transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
  -webkit-outline: none !important;
  -moz-outline: none !important;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}

::-webkit-input-placeholder {
   color: #797979;
}

:-moz-placeholder { /* Firefox 18- */
   color: #797979;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #797979;
}

:-ms-input-placeholder {
   color: #797979;
}

select {
  background: #e4e4e4;
  color: #3e3e3e;
}

@-moz-document url-prefix() { ::-moz-focus-inner {border: none} select:-moz-focusring { color: transparent; text-shadow: 0px 0px 0px #3e3e3e; } }

.selected_opt_area {
  width: 100%;
  padding-bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

button.selected_opt {
  border: none;
  background: #3e3e3e;
  padding: 10px 15px;
  border-radius: 60px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat';
  margin: 15px 10px 0px 0;
  -webkit-transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}

button.selected_opt > span {
  font-size: 10px;
}

button.selected_opt:active {
  outline: none;
  border: none;
}

button.selected_opt:hover {
  background: #222;
}

.dropdown::before {
  position: absolute;
  top: 17px;
  right: 12px;
  font-size: 9px;
  color: #3e3e3e;
  font-family: "Glyphicons Halflings";
  content: "\e114";
}

label {
  font-weight: 500;
}

.radio {
  display: inline;
  vertical-align: sub;
}

.rad_info {
  display: block;
}

.radBtn {
  padding-left: 35px;
  position: relative;
  margin-bottom: 10px;
}

.radBtn:hover::before {
  border-color: #bbb;
}

.radBtn::before {
  position: absolute;
  content:"";
  height: 21px;
  width: 21px;
  left: 0;
  top: 2px;
  border: solid 2px #ddd;
  border-radius: 50%;
  -webkit-transition: background .2s ease-in, border .2s ease-in-out;
  -moz-transition: background .2s ease-in, border .2s ease-in-out;
  -o-transition: background .2s ease-in, border .2s ease-in-out;
  transition: background .2s ease-in, border .2s ease-in-out;
}

.active_rad::before{
  position: absolute;
  content:"";
  height: 21px;
  width: 21px;
  left: 0;
  top: 2px;
  border: none;
  background: #3E3E3E;
  font-family: "Glyphicons Halflings";
  content: "\e013";
  color: #fff;
  font-weight: 100;
  padding: 2px 0 0 4px;
  font-size: 11px;
}

.active_rad:hover::before {
  background-color: #111;
}

h3.visitor {
  margin-bottom: 15px;
}

.rad_info {
  color: #797979;
}

.visitor_info {
  margin-bottom: 10px !important;
}

.fbuttons {
  width: 100%;
  line-height: 4;
  border-top: solid 1px #ddd;
}

button.col-xs-6 {
  letter-spacing: 1px;
  word-spacing: 2px;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 4;
  border-left: solid 1px #ddd;
  -webkit-transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}

button.col-xs-6:active, button.col-xs-6:focus {
  outline: none;
}

select > option {
  font-size: 13px;
  font-weight: 500;
  line-height: 2
  padding: 12px !important;
}

button.col-xs-6:hover {
  background-color: #fff;
}

button.col-xs-6:first-child {
  border-left: none;
}
